<section class="hero-dashboard">
  <div class="row">
    <div class="large-6 large-push-2 columns">
      <div class="circle-bg quote-1">
        <p>Remind yourself what.</p>
      </div>
    </div>
    <div class="large-6 large-pull-2 columns">
      <div class="circle-bg quote-2">
        <p>Think about why.</p>
      </div>
    </div>
  </div>
</section>

<div class="large-6 large-centered columns">
  <div class="card">
    <div class="content">
      <div class="form-card">
        <%= form_for([@resolution, @reminder]) do |f| %>
          <label for="phone">Your phone number</label>
          <%= f.text_field :phone_number %>
          <br>
          <%= f.submit "Create Reminder", class: "button round medium" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
