<header class="hero">
  <h1>
    <div class="title">Resolutionary</div>
    <div class="title-small">The app that will change your life</div>
    <div class="row">
      <div class="small-12 columns">
        <%= link_to "Login with Twitter", login_path, class: "button button-round" %>
      </div>
    </div>
  </h1>
</header>
<footer class="footer">
  <p class="copywrite">Copywrite Creative License, LLC © 2015</p>
  <br>
</footer>

