.hero-profile {
  background: asset-data-url("inspire-profile-1.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.hero-profile:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, blue, darkblue);
  opacity: .1;
}

h2 {
  color: white;
}
